In [ ]:
import pandas as pd
import numpy as np
import re as re

In [ ]:
# Mostrar txt e mostrar texto nele contido.
try:
    with open("details.txt", "r", encoding="utf-8") as file:  # Specify encoding if needed
        lines = file.readlines()
    
    # Display first few lines to understand the structure
        print(lines)
        
except FileNotFoundError:
    print("Error: The file 'details.txt' was not found. Please check the file path.")
except UnicodeDecodeError:
    print("Error: Unable to decode the file. Try specifying a different encoding (e.g., 'utf-8' or 'ISO-8859-1').")
except PermissionError:
    print("Error: Permission denied. Ensure the file is not locked or being used by another program.")

['Description:\n', '\n', 'The sinking of the Titanic is one of the most infamous shipwrecks in history.\n', '\n', 'On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.\n', '\n', 'While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.\n', '\n', 'In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).\n', 'Acknowledgements:\n', '\n', 'This dataset has been referred from Kaggle: https://www.kaggle.com/c/titanic/data.\n', '\n', 'For more details, check also: https://www.kaggle.com/datasets/yasserh/titanic-dataset\n']

In [2]:
# ler csv e mostrar algumsas linhas 
df = pd.read_csv("Titanic-Dataset-Copy1.csv")

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"1,0,3,""Braund, Mr. Owen Harris"",male,22,1,0,A/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2,1,1,""Cumings, Mrs. John Bradley (Florence Br...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"3,1,3,""Heikkinen, Miss. Laina"",female,26,0,0,S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"4,1,1,""Futrelle, Mrs. Jacques Heath (Lily May ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"5,0,3,""Allen, Mr. William Henry"",male,35,0,0,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A primeira coisa que foi executada foi a importação das bibliotecas que vão ser necessárias para este trabalho que são o Pandas e o Numpy. Após isso, procedi a uma função de leitura do csv e demopnstração do mesmo de forma simplificada  para

Tentar organizar os dados do csv por linhas e colunas com o código abaixo

In [4]:
import pandas as pd
import numpy as np

# Load the CSV file into a DataFrame
df = pd.read_csv("Titanic-Dataset-Copy1.csv")  # Replace with your actual file path

# Display the initial DataFrame
print("Original DataFrame:\n", df.head())

# Step 1: Split the 'Name' column into 'LastName' and 'FirstName'
# The format in the CSV appears to be "LastName, FirstName"
df[['LastName', 'FirstName']] = df['Name'].str.split(',', expand=True)

# Clean up any extra whitespace in 'FirstName' after splitting
df['FirstName'] = df['FirstName'].str.strip()

# Step 2: Extract 'Deck' information from the 'Cabin' column (first letter)
# If there are multiple cabins (e.g., "C85 C86"), we'll take only the first one
df['Deck'] = df['Cabin'].str[0]  # Extract the first letter

# Step 3: Convert 'Survived' to categorical labels (using .map for conversion)
df['Survived'] = df['Survived'].map({1: 'Survived', 0: 'Did not survive'})

# Display the transformed DataFrame
print("\nTransformed DataFrame:\n", df.head())

Original DataFrame:
                                          PassengerId  Survived  Pclass  Name  \
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...       NaN     NaN   NaN
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...       NaN     NaN   NaN
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...       NaN     NaN   NaN
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...       NaN     NaN   NaN
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...       NaN     NaN   NaN

   Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
1  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
2  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
3  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
4  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN

AttributeError: Can only use .str accessor with string values!

In [46]:
print("Column data types:\n", df.dtypes) # msostrar tipos de dados das coluinas

Column data types:
 PassengerId     object
Survived       float64
Pclass         float64
Name           float64
Sex            float64
Age            float64
SibSp          float64
Parch          float64
Ticket         float64
Fare           float64
Cabin          float64
Embarked       float64
dtype: object

Código que mostra valores not null pr coluna e o seu tipo de data

In [47]:
df.info()  #Show columns not null counts and datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     0 non-null      float64
 2   Pclass       0 non-null      float64
 3   Name         0 non-null      float64
 4   Sex          0 non-null      float64
 5   Age          0 non-null      float64
 6   SibSp        0 non-null      float64
 7   Parch        0 non-null      float64
 8   Ticket       0 non-null      float64
 9   Fare         0 non-null      float64
 10  Cabin        0 non-null      float64
 11  Embarked     0 non-null      float64
dtypes: float64(11), object(1)
memory usage: 83.7+ KB

Procura de duplicados na tabela

In [34]:
print("Number of duplicate rows:", df.duplicated().sum()) #procura duplicados

Number of duplicate rows: 0

Standartização das strings

Como resolver os valores NAN

In [48]:
#Nan and null what i do?

# Load the dataset
df = pd.read_csv('Titanic-Dataset-Copy1.csv')

# Count missing values in each column
nan_counts = df.isna().sum()

# Print columns with missing values and their counts
print("NaN values per column:")
print(nan_counts[nan_counts > 0])

# Example strategy to handle missing data
# If 'Column1' has too many NaN values, we may drop it
if nan_counts['Cabin'] > 0.5 * len(df):  # Adjust the threshold based on your needs
    df = df.drop(columns=['Cabin'])

# Fill missing values in 'Column2' with the median (assuming numerical)
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill missing values in 'Column3' with the mode (assuming categorical)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Check if there are still any missing values
print("\nMissing values after handling:")
print(df.isna().sum())

NaN values per column:
Survived    891
Pclass      891
Name        891
Sex         891
Age         891
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       891
Embarked    891
dtype: int64

c:\Program Files\Python313\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1241: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

KeyError: 0

Como eliminar os nulos da idade e converter todos para inteiros

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('Titanic-Dataset-Copy1.csv')
# identifica os nan e elimina 
# Converter idades em inteiros

# Step 1: Check for NaN values
print("Initial data with NaN values:\n", df)

# Step 2: Fill NaN values in 'Age' column (choose one of the following options)

# Remove rows where the Age column has NaN values
df_cleaned = df.dropna(subset=['Age'])

# Display the cleaned DataFrame
print("\nData after removing rows with NaN in Age column:\n", df_cleaned)

# Step 3: Convert 'Age' column to integer
df_cleaned['Age'] = df_cleaned['Age'].round().astype(int)

# Display the DataFrame to verify
print("\nData after filling NaN values and converting to integers:\n", df_cleaned)

Initial data with NaN values:
                                            PassengerId  Survived  Pclass  \
0    1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...       NaN     NaN
1    2,1,1,"Cumings, Mrs. John Bradley (Florence Br...       NaN     NaN
2    3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...       NaN     NaN
3    4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...       NaN     NaN
4    5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...       NaN     NaN
..                                                 ...       ...     ...
886  887,0,2,"Montvila, Rev. Juozas",male,27,0,0,21...       NaN     NaN
887  888,1,1,"Graham, Miss. Margaret Edith",female,...       NaN     NaN
888  889,0,3,"Johnston, Miss. Catherine Helen ""Car...       NaN     NaN
889  890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,11...       NaN     NaN
890  891,0,3,"Dooley, Mr. Patrick",male,32,0,0,3703...       NaN     NaN

     Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
1     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
2     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
3     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
4     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
..    ...  ...  ...    ...    ...     ...   ...    ...       ...
886   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
887   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
888   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
889   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
890   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN

[891 rows x 12 columns]

Data after removing rows with NaN in Age column:
 Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

Data after filling NaN values and converting to integers:
 Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

Mostrar todo o dataframe

In [21]:


df = pd.read_csv('Titanic-Dataset-Copy1.csv')

In [22]:

df = pd.read_csv('Titanic-Dataset-Copy1.csv')

df_cleaned.sort_values(by='PassengerId', inplace=True)
print(df_cleaned)
                                                    #tentativa de ordenar por PassengerId

                                           PassengerId  Survived  Pclass  \
0    1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...       NaN     NaN
9    10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",f...       NaN     NaN
99   100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367...       NaN     NaN
100  101,0,3,"Petranec, Miss. Matilda",female,28,0,...       NaN     NaN
101  102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",m...       NaN     NaN
..                                                 ...       ...     ...
94   95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,...       NaN     NaN
95   96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0...       NaN     NaN
96   97,0,1,"Goldschmidt, Mr. George B",male,71,0,0...       NaN     NaN
97   98,1,1,"Greenfield, Mr. William Bertram",male,...       NaN     NaN
98   99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",...       NaN     NaN

     Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
9     NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
99    NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
100   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
101   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
..    ...  ...  ...    ...    ...     ...   ...    ...       ...
94    NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
95    NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
96    NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
97    NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
98    NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN

[891 rows x 12 columns]

In [53]:
df = pd.read_csv('Titanic-Dataset-Copy1.csv')

print(df_cleaned['Name']) # mostrar coluna nome

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
886   NaN
887   NaN
888   NaN
889   NaN
890   NaN
Name: Name, Length: 891, dtype: float64

In [1]:
import pandas as pd
import numpy as np

# Step 1: Load the CSV file into a DataFrame
df = pd.read_csv("Titanic-Dataset-Copy1.csv")  # Replace with your actual file path

# Display initial rows to understand the structure
print("Original Data:\n", df.head())

# Step 2: Split the 'Name' column into 'LastName' and 'Title'
# Assuming the 'Name' column format is "LastName, Title FirstName" (e.g., "Doe, Mr. John")
# Convert a specific column to string
df['Title_FirstName'] = df['Name'].astype(str)

# Verify the change
print(df['Name'].head())

df['LastName', 'Title_FirstName'] = df['Name'].str.split(',', expand=True)
df['Title'] = df['Title_FirstName'].str.extract(r'\b(Mr|Mrs|Miss|Master|Dr)\b', expand=False)
df['FirstName'] = df['Title_FirstName'].str.replace(r'\b(Mr|Mrs|Miss|Master|Dr)\b', '').str.strip()

# Drop the intermediate column if not needed
df.drop(columns=['Title_FirstName'], inplace=True)

Original Data:
                                          PassengerId  Survived  Pclass  Name  \
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...       NaN     NaN   NaN
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...       NaN     NaN   NaN
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...       NaN     NaN   NaN
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...       NaN     NaN   NaN
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...       NaN     NaN   NaN

   Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
1  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
2  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
3  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
4  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Name, dtype: float64

AttributeError: Can only use .str accessor with string values!

In [41]:
df = pd.read_csv('Titanic-Dataset-Copy1.csv')

df['Name'] = df['Name'].str.lower()      # strings lowercase standart
df['Sex'] = df['Sex'].str.lower()
df['Cabin'] = df['Cabin'].str.lower()

AttributeError: Can only use .str accessor with string values!

In [ ]:
df = pd.read_csv("Titanic-Dataset-Copy1.csv") 
df['Title'] = df['Name'].str.extract(r'\b(Miss|Mr|Mrs)\b', expand=True)
filtered_df = df[df['Title'].isin(['Miss', 'Mr', 'Mrs'])]    # procurar titulos em nome e devolver
print(filtered_df[['Name', 'Title']])

AttributeError: Can only use .str accessor with string values!

In [27]:
# Calculate the survival rate
df = pd.read_csv('Titanic-Dataset-Copy1.csv')
df_cleaned=df
survival_rate = df_cleaned('Survived')() # taxa de sobrevivência 
print(f"Survival Rate: {survival_rate * 100:.2f}%")

TypeError: 'DataFrame' object is not callable

In [52]:
df = pd.read_csv('Titanic-Dataset-Copy1.csv')
# Step 3: Extract the 'Deck' from the 'Cabin' column (first letter of each cabin string)
# Assuming each cabin starts with a letter (e.g., "C85", "E23"), take the first letter as the Deck
df['Deck'] = df['Cabin'].extrat[0]

# Step 4: Handle missing values
# Fill missing values in 'Cabin' with 'Unknown' and in 'Embarked' with the most common value
df['Cabin'].fillna('Unknown', inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Fill missing 'Age' values with the median age (assuming 'Age' column exists)
if 'Age' in df.columns:
    df['Age'].fillna(df['Age'].median(), inplace=True)

# Convert 'Fare' column to integer (if no decimals are required) or fill NaNs with median
df['Fare'] = df['Fare'].fillna(df['Fare'].median()).round(0).astype(int)

# Step 5: Save the cleaned DataFrame
df.to_csv("cleaned_titanic_data.csv", index=False)

# Display the cleaned DataFrame
print("\nCleaned Data:\n", df.head())

AttributeError: 'Series' object has no attribute 'extrat'

In [ ]:
import pandas as pd

# Load your original CSV data
df = pd.read_csv('your_file.csv')

# Clean the data (for example, convert a column to a string)
df['age'] = df['age'].astype(str)

# Save the cleaned DataFrame to a variable (in memory)
cleaned_data = df

# Optionally, save the cleaned DataFrame to a CSV file (for later use)
df.to_csv('cleaned_data.csv', index=False)

# You now have:
# 1. `cleaned_data` variable in memory (in the current process).
# 2. `cleaned_data.csv` file saved on disk.